@page "/PrescriptionPreparation"
@using AdvancedAnalysisDesign.Services
@using AdvancedAnalysisDesign.Enums
@using AdvancedAnalysisDesign.Models.Database
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject PatientService PatientService
<<<<<<< HEAD
@inject NonPatientService NonPatientService
=======
>>>>>>> develop

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-8">

    <MudGrid Justify="Justify.Center">

        @if (patientWithPickups == null)
        {

            <MudItem xs="12">

                <MudText Typo="Typo.h4">
                    There are no prescriptions currently ready for collection
                </MudText>

            </MudItem>

        }
        else
        {

            <MudItem xs="12">

                <MudText Typo="Typo.h4">
<<<<<<< HEAD
                    Prescriptions Preparation
=======
                    Prescriptions for Collection
>>>>>>> develop
                </MudText>

            </MudItem>

<<<<<<< HEAD
            foreach (var prescription in patientWithPickups)
            {
                @foreach (var medication in prescription.Medications)
                {
                    if (medication.Pickup.DateScheduled == DateTime.Today && medication.Pickup.IsPrepared == false)
                    {
                        <MudItem xs="12">
                            <MudExpansionPanel>

                                <TitleContent>
                                    <div class="d-flex">
                                        <MudGrid Class="pa-2">

                                            <MudItem xs="3">
                                                <MudPaper Elevation="1" Class="pa-4 pt-2">
                                                    <MudText><strong>First Name: </strong>   @prescription.User.UserDetail.FirstName </MudText>
                                                </MudPaper>
                                            </MudItem>

                                            <MudItem xs="3">
                                                <MudPaper Elevation="1" Class="pa-4 pt-2">
                                                    <MudText><strong>Last Name: </strong>   @prescription.User.UserDetail.LastName</MudText>
                                                </MudPaper>
                                            </MudItem>

                                            <MudItem xs="3">

                                            </MudItem>

                                        </MudGrid>
                                    </div>
                                </TitleContent>

                                <ChildContent>

                                    <MudGrid Class="pa-2">
                                        <MudItem xs="12">
                                            <MudPaper Elevation="2" Class="pa-2">
                                                <MudGrid Class="pa-2">

                                                    <MudItem xs="12">
                                                        <MudText>
                                                            <strong>Prescribed Medications:</strong>
                                                        </MudText>
                                                    </MudItem>

                                                </MudGrid>
                                            </MudPaper>
                                        </MudItem>

                                        <MudItem xs="7">
                                            <MudPaper Elevation="1" Class="pa-4 pt-2">
                                                <MudText>
                                                    Medications: @medication.Medication.MedicationName
                                                </MudText>
                                            </MudPaper>
                                        </MudItem>

                                        <MudItem xs="3">
                                            <MudPaper Elevation="1" Class="pa-4 pt-2">
                                                <MudText><strong>Time of Collection:</strong> @medication.Pickup.DateScheduled</MudText>
                                            </MudPaper>
                                        </MudItem>

                                        <MudItem xs="2">
                                            <MudPaper Elevation="1" Class="pa-4 pt-2">
                                                <MudText>
                                                    Amount: 1
                                                </MudText>
                                            </MudPaper>
                                        </MudItem>
                                    </MudGrid>

                                    <MudItem xs="12">
                                        <MudGrid Class="pa-2">
                                            <MudItem xs="12">
                                                <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="@(() => PrescriptionPrepared(medication.Pickup.Id))">
                                                    Prepared
                                                </MudButton>
                                            </MudItem>
                                        </MudGrid>
                                    </MudItem>

                                </ChildContent>
                            </MudExpansionPanel>
                        </MudItem>
                    }
                }
            }
        }
    }
=======
            @*<MudItem xs="5">

                    <MudPaper Elevation="1" Class="pa-5">
                        <MudGrid Style="flex-direction: row; align-items:center" Justify="Justify.Center">
                            <MudText Class="px-3"><strong>Patient Search</strong></MudText>
                            <MudTextField @bind-Value="ResultInput" Label="Patient" Variant="Variant.Outlined"></MudTextField>
                        </MudGrid>
                    </MudPaper>

                </MudItem>*@


            foreach (var prescription in patientWithPickups)
            {
                <MudItem xs="12">
                    <MudExpansionPanel>

                        <TitleContent>
                            <div class="d-flex">
                                <MudGrid Class="pa-2">

                                    <MudItem xs="3">
                                        <MudPaper Elevation="1" Class="pa-4 pt-2">
                                            <MudText><strong>First Name: </strong>   @prescription.User.UserDetail.FirstName </MudText>
                                        </MudPaper>
                                    </MudItem>

                                    <MudItem xs="3">
                                        <MudPaper Elevation="1" Class="pa-4 pt-2">
                                            <MudText><strong>Last Name: </strong>   @prescription.User.UserDetail.LastName</MudText>
                                        </MudPaper>
                                    </MudItem>

                                    <MudItem xs="3">

                                    </MudItem>

                                    <MudItem xs="3">
                                        <MudPaper Elevation="1" Class="pa-4 pt-2">
                                            <MudText><strong>Time of Collection:</strong> Error  </MudText>
                                        </MudPaper>
                                    </MudItem>

                                </MudGrid>
                            </div>
                        </TitleContent>
                        <ChildContent>
                            <MudGrid Class="pa-2">
                                <MudItem xs="12">
                                    <MudPaper Elevation="2" Class="pa-2">
                                        <MudGrid Class="pa-2">

                                            <MudItem xs="10">
                                                <MudText>
                                                    <strong>Prescribed Medications:</strong>
                                                </MudText>
                                            </MudItem>

                                            <MudItem xs="2">
                                                <MudText>
                                                    <strong>Amounts:</strong>
                                                </MudText>
                                            </MudItem>

                                        </MudGrid>
                                        @foreach (var medication in prescription.Medications)
                                        {
                                            <MudGrid Class="pa-2">
                                                <MudItem xs="10">
                                                    <MudPaper Elevation="1" Class="pa-4 pt-2">
                                                        <MudText>
                                                            Medications: @medication.Medication.MedicationName
                                                        </MudText>
                                                    </MudPaper>
                                                </MudItem>

                                                <MudItem xs="2">
                                                    <MudPaper Elevation="1" Class="pa-4 pt-2">
                                                        <MudText>
                                                            Amount: 1
                                                        </MudText>
                                                    </MudPaper>
                                                </MudItem>
                                            </MudGrid>
                                        }
                                    </MudPaper>
                                </MudItem>

                                <MudItem xs="12">
                                    <MudGrid Class="pa-2">
                                        <MudItem xs="12">
                                            <MudButton Variant="Variant.Filled" Style=" width: 200px; height: 60px;" Color="Color.Success">
                                                Prepared
                                            </MudButton>
                                        </MudItem>
                                    </MudGrid>
                                </MudItem>
                            </MudGrid>
                        </ChildContent>
                    </MudExpansionPanel>
                </MudItem>

            }
        }
>>>>>>> develop

    </MudGrid>

</MudContainer>

@code {

<<<<<<< HEAD
=======
    string[] prescriptions = { "Alexander Cain", "Matt", "Jack", "TY" };
    string[] medications = { "Coke", "MDA" };
>>>>>>> develop
    string ResultInput;

    public bool Collected { get; set; }
    List<Patient> patientWithPickups = new();
    int prescriptionsDue, prescriptionsPrepared, prescriptionsCollected;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.IsInRole(Role.Admin.ToString()))
        {
            patientWithPickups = await PatientService.FetchAllPatientsWithPickups();
        }
        else if (user.IsInRole(Role.Pharmacist.ToString()))
        {
<<<<<<< HEAD
            var currentMedicalSite = await NonPatientService.GetMedicalInstitutionForUser();
            patientWithPickups = await PatientService.GetAllMedicationsforInstitution(currentMedicalSite);
=======

            //fetch medications for only this instition
            patientWithPickups = await PatientService.FetchAllPatientsPrescriptions();
>>>>>>> develop
        }
        else
        {
            NavigationManager.NavigateTo("/", true);
        }
    }

    public void PrescriptionPrepared(int MedicationID)
    {
        
        //update pickup

    }
}