@page "/PrescriptionList"
@using AdvancedAnalysisDesign.Enums
@using AdvancedAnalysisDesign.Services
@using AdvancedAnalysisDesign.Models.Database
@using AdvancedAnalysisDesign.Models.Payloads
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject PatientService PatientService
@inject NonPatientService NonPatientService

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-8">


    <MudGrid Justify="Justify.Center">

        <MudItem xs="12">

            <MudText Typo="Typo.h4">
                Prescriptions Due
            </MudText>

        </MudItem>

        <MudItem xs="12">
            <MudDivider />
        </MudItem>

        <MudTable Items="@patientWithPickups" Hover="true" Breakpoint="Breakpoint.Sm">
            @*<ColGroup>
        <col style="width:300px;" />
        <col style="width:100px;" />
        <col />
        <col style="width:100px;" />
        </ColGroup>*@

            <HeaderContent>

                <MudTh>First Name</MudTh>
                <MudTh>Last Name</MudTh>
                <MudTh>Prescriptions</MudTh>

            </HeaderContent>

            <RowTemplate>

                <MudTd DataLabel="First Name">@context.User.UserDetail.FirstName</MudTd>
                <MudTd DataLabel="First Name">@context.User.UserDetail.LastName</MudTd>
                <MudTd><MudButton Variant="Variant.Outlined" Size="Size.Small" OnClick="@(() => ShowBtnPress(context.))">@((context.ShowDetails == true)? "Hide" : "Show") View Prescription</MudButton></MudTd>

            </RowTemplate>



        </MudTable>

            @foreach (var patient in patientWithPickups)
            {
                //for each patient that has a prescription today (Have a search function)
                //Have column in table
                //Display Info
                //for each prescription (in sub table)
                //display medication
                // is prepared
                // is collected

                <MudItem xs="12">
                    <MudExpansionPanels MultiExpansion="false">
                        @foreach (var medication in patient.Medications)
                        {

                            @if (medication.Pickup.DateScheduled == DateTime.Today || medication.Pickup.DatePickedUp?.ToString("d") == DateTimeOffset.Now.ToString("d"))
                            {
                                <MudExpansionPanel>
                                    <TitleContent>
                                        <div class="d-flex">
                                            <MudGrid Class="pa-2" Style="align-items: center">

                                                <MudItem xs="2">

                                                    <MudText><strong>First Name: </strong>   @patient.User.UserDetail.FirstName </MudText>

                                                </MudItem>

                                                <MudItem xs="6">

                                                    <MudText><strong>Last Name: </strong>   @patient.User.UserDetail.LastName</MudText>

                                                </MudItem>

                                                <MudItem xs="2">

                                                    <MudGrid Style="flex-direction: row;" Justify="Justify.Center">

                                                        <MudText>
                                                            <strong>Prepared: </strong>
                                                        </MudText>

                                                        @if (medication.Pickup.IsPrepared == false)
                                                        {
                                                            <MudIcon Icon="@Icons.Material.Filled.IndeterminateCheckBox" Color="@Color.Error" />
                                                        }
                                                        else
                                                        {
                                                            <MudIcon Icon="@Icons.Material.Filled.CheckBox" Color="@Color.Success" />
                                                        }

                                                    </MudGrid>

                                                </MudItem>

                                                <MudItem xs="2">


                                                    <MudGrid Style="flex-direction: row; align-items:center" Justify="Justify.Center">

                                                        <MudText>
                                                            <strong>Collected: </strong>
                                                        </MudText>

                                                        @if (medication.Pickup.IsPickedUp == false)
                                                        {
                                                            <MudIcon Icon="@Icons.Material.Filled.IndeterminateCheckBox" Color="@Color.Error" />
                                                        }
                                                        else
                                                        {
                                                            <MudIcon Icon="@Icons.Material.Filled.CheckBox" Color="@Color.Success" />
                                                        }

                                                    </MudGrid>

                                                </MudItem>
                                            </MudGrid>
                                        </div>
                                    </TitleContent>

                                    <ChildContent>

                                        <MudGrid Class="pa-2">
                                            <MudItem xs="12">

                                                <MudGrid Class="pa-2">

                                                    <MudItem xs="12">
                                                        <MudText>
                                                            <strong>Prescribed Medication</strong>
                                                        </MudText>
                                                    </MudItem>

                                                    <MudItem xs="12">
                                                        <MudDivider />
                                                    </MudItem>

                                                    <MudItem xs="6">

                                                        <MudText>
                                                            <strong>Medications:</strong>@medication.Medication.MedicationName
                                                        </MudText>

                                                    </MudItem>

                                                    @if (medication.Pickup.DateScheduled != null)
                                                    {
                                                        <MudItem xs="6">

                                                            <MudText><strong>Time of Collection:</strong> @medication.Pickup.DateScheduled  </MudText>

                                                        </MudItem>
                                                    }
                                                    else if (medication.Pickup.DatePickedUp != null)
                                                    {

                                                        <MudItem xs="6">

                                                            <MudText><strong>Time Collected:</strong> @medication.Pickup.DatePickedUp  </MudText>

                                                        </MudItem>
                                                    }

                                                </MudGrid>
                                            </MudItem>
                                        </MudGrid>
                                    </ChildContent>
                                </MudExpansionPanel>

                            }

                        }
                    </MudExpansionPanels>
                </MudItem>
            }
    </MudGrid>
</MudContainer>

@code {
    List<Patient> patientWithPickups = new();

    private DateTime currentDate = DateTime.Now;

    string MedicalInstitutionName;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.IsInRole(Role.Admin.ToString()))
        {
            MedicalInstitutionName = "Admin View";

            patientWithPickups = await PatientService.FetchAllPatientsPrescriptions();

        }
        else if (user.IsInRole(Role.Pharmacist.ToString()))
        {
            var currentMedicalSite = await NonPatientService.GetMedicalInstitutionForUser();

            MedicalInstitutionName = currentMedicalSite.Name;

            patientWithPickups = await PatientService.GetAllMedicationsforInstitution(currentMedicalSite);
        }
        else
        {
            NavigationManager.NavigateTo("/", true);
        }
    }
}