@page "/PrescriptionPreparation"
@using AdvancedAnalysisDesign.Services
@using AdvancedAnalysisDesign.Enums
@using AdvancedAnalysisDesign.Models.Database
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject PatientService PatientService
@inject NonPatientService NonPatientService
@inject ISnackbar Snackbar

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-8">

    <MudGrid Justify="Justify.Center">

        <MudItem xs="12">

            <MudText Typo="Typo.h4">
                Prescription Preparation
            </MudText>

        </MudItem>

        <MudItem xs="12">
            <MudDivider />
        </MudItem>

        @foreach (var prescription in patientWithPickups)
        {
            @foreach (var medication in prescription.Medications)
            {
                if (medication.Pickup.DateScheduled == DateTime.Today && medication.Pickup.IsPrepared == false)
                {


                    <MudItem xs="12">
                        <MudExpansionPanel>

                            <TitleContent>
                                <div class="d-flex">
                                    <MudGrid Class="pa-2">

                                        <MudItem xs="2">

                                            <MudText><strong>First Name: </strong>   @prescription.User.UserDetail.FirstName </MudText>

                                        </MudItem>

                                        <MudItem xs="6">

                                            <MudText><strong>Last Name: </strong>   @prescription.User.UserDetail.LastName</MudText>

                                        </MudItem>

                                    </MudGrid>
                                </div>
                            </TitleContent>

                            <ChildContent>

                                <MudGrid Class="pa-2">
                                    <MudItem xs="12">

                                        <MudGrid Class="pa-2">

                                            <MudItem xs="12">
                                                <MudText>
                                                    <strong>Prescribed Medications</strong>
                                                </MudText>
                                            </MudItem>

                                        </MudGrid>

                                    </MudItem>

                                    <MudItem xs="12">
                                        <MudDivider />
                                    </MudItem>

                                    <MudItem xs="9">

                                        <MudText>
                                            Medications: @medication.Medication.MedicationName
                                        </MudText>

                                    </MudItem>

                                    <MudItem xs="3">

                                        <MudText><strong>Time of Collection:</strong> @medication.Pickup.DateScheduled</MudText>

                                    </MudItem>


                                </MudGrid>

                                <MudItem xs="12">
                                    <MudGrid Class="pa-2">
                                        <MudItem xs="12">
                                            <MudButton Variant="Variant.Filled" Color="Color.Success" Style=" width: 200px; height: 60px;" OnClick="@(() => PrescriptionPrepared(medication.Pickup))">
                                                Prepared
                                            </MudButton>
                                        </MudItem>
                                    </MudGrid>
                                </MudItem>

                            </ChildContent>
                        </MudExpansionPanel>
                    </MudItem>

                }
            }

        }

    </MudGrid>

</MudContainer>

@code {

    List<Patient> patientWithPickups = new();
    int prescriptionsDue, prescriptionsPrepared, prescriptionsCollected;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.IsInRole(Role.Admin.ToString()))
        {
            patientWithPickups = await PatientService.FetchAllPatientsWithPickups();
        }
        else if (user.IsInRole(Role.Pharmacist.ToString()))
        {
            var currentMedicalSite = await NonPatientService.GetMedicalInstitutionForUser();
            patientWithPickups = await PatientService.GetAllMedicationsforInstitution(currentMedicalSite);
        }
        else
        {
            NavigationManager.NavigateTo("/", true);
        }
    }

    public async Task PrescriptionPrepared(Pickup PickUpID)
    {
        await PatientService.PrescriptionPrepared(PickUpID);

        Snackbar.Add("Prescription has been prepared", Severity.Success);

        StateHasChanged();
    }

}