@page "/GpUploadInput/{UserId}"
@using AdvancedAnalysisDesign.Models.Database
@using AdvancedAnalysisDesign.Models.ViewModels
@using AdvancedAnalysisDesign.Services
@using Microsoft.EntityFrameworkCore

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject UserService UserService
@inject PatientService PatientService
@inject BloodworkService BloodworkService
@inject AADContext Context

@if(!isLoaded)
{
    <LoadingScreen></LoadingScreen>
}
else
{
<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-5">
      <MudGrid>
          @if (user != null)
          {
          <MudItem xs="12">
              <MudPaper Class="pa-4">
                  <MudGrid>
                      <MudItem xs="6">
                          <MudText>Name:</MudText>
                          <MudText Typo="Typo.h6">@user.UserDetail.FirstName @user.UserDetail.LastName</MudText>
                      </MudItem>
                      <MudItem xs="6">
                          <MudText>Date Of Birth:</MudText>
                          <MudText Typo="Typo.h6">@user.UserDetail.DateOfBirth.ToString("d")</MudText>
                      </MudItem>
                      <MudItem xs="6">
                          <MudText>Email Address:</MudText>
                          <MudText Typo="Typo.h6">@user.Email</MudText>
                      </MudItem>
                      <MudItem xs="6">
                        <MudText>Phone Number:</MudText>
                        <MudText Typo="Typo.h6">@user.PhoneNumber</MudText>
                    </MudItem>
                  </MudGrid>
              </MudPaper>
          </MudItem>
          }
          <MudItem xs="12">
              <MudPaper Class="pa-4">
                <MudExpansionPanels MultiExpansion="true" Elevation="0">
                @foreach (var patientMedication in patientMedicationsView)
                {   
                    <MudExpansionPanel Text="@patientMedication.Medication.MedicationName">
                        @if (patientMedication.PatientBloodworks.Any())
                        {
                            <MudTable Items="@patientMedication.PatientBloodworks" Context="Bloodwork" Hover="true" Breakpoint="Breakpoint.Sm" Elevation="0">
                                <HeaderContent>
                                    <MudTh>Id</MudTh>
                                    <MudTh>Bloodwork Test</MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd DataLabel="Id">@patientMedication.Id</MudTd>
                                    <MudTd DataLabel="Bloodwork Test">@Bloodwork.BloodworkTest.TestName</MudTd>
                                    <MudTd><MudButton Variant="Variant.Outlined" Size="Size.Small" OnClick="@(() => Bloodwork.ShowDetails = !Bloodwork.ShowDetails)">@(Bloodwork.ShowDetails ? "Hide" : "Show") Test Results</MudButton></MudTd>
                                </RowTemplate>
                                <ChildRowContent>
                                    @if (Bloodwork.ShowDetails)
                                    {
                                        <MudTr>
                                            <td colspan="4">
                                                <MudCard Elevation="0">
                                                    <MudCardHeader>
                                                        <CardHeaderContent>
                                                            <MudText Typo="Typo.body1">Test Results for <strong>@Bloodwork.BloodworkTest.TestName</strong></MudText>
                                                        </CardHeaderContent>
                                                    </MudCardHeader>
                                                    <MudCardContent Class="pa-0">
                                                        <MudTable Items="@Bloodwork.PatientBloodworkTests" Context="BloodworkTest" Hover="true" Breakpoint="Breakpoint.Sm" Elevation="0">
                                                            <HeaderContent>
                                                                <MudTh>Date Of Result</MudTh>
                                                                <MudTh>Test Result</MudTh>
                                                            </HeaderContent>
                                                            <RowTemplate>
                                                                <MudTd DataLabel="Date Of Upload">@BloodworkTest.DateOfUpload</MudTd>
                                                                <MudTd DataLabel="Result">@(BloodworkTest.Result ? "Pass" : "Fail")</MudTd>
                                                            </RowTemplate>
                                                        </MudTable>
                                                    </MudCardContent>
                                                </MudCard>
                                            </td>
                                        </MudTr>
                                    }
                                </ChildRowContent>
                            </MudTable>
                        }
                        <MudGrid Style="flex-direction: row; align-items:center" Justify="Justify.Center" Class="py-2">
                            <MudItem xs="4">
                                <MudAutocomplete MaxItems="@null" T="string" @bind-Value="@patientMedication.BloodworkTest" Label="Bloodwork Test" SearchFunc="@Search" Variant="Variant.Outlined"/> @*ValueChanged="async () => await SelectTest(value: UserId, patientMedication)"*@
                            </MudItem>
                            <MudItem xs="4">
                                <MudSelect @bind-Value="@patientMedication.Result" Label="Result" Variant="Variant.Outlined">
                                    <MudSelectItem Value="@(false)">Fail</MudSelectItem>
                                    <MudSelectItem Value="@(true)">Pass</MudSelectItem>
                                </MudSelect>
                            </MudItem>
                            <MudItem xs="4">
                                <MudButton Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.SaveAlt" IconColor="Color.Primary" Size="Size.Medium" OnClick="async () => await InputTestResults(patientMedication)">Add Test Results</MudButton>
                            </MudItem>
                        </MudGrid>
                    </MudExpansionPanel>
                }
                  </MudExpansionPanels>
              </MudPaper>
          </MudItem>
      </MudGrid>
</MudContainer>
}

@code {
    [Parameter]
    public string UserId { get; set; }
    User user = new();
    bool isLoaded;
    bool bloodworkTestsLoaded;
    bool bloodworksLoaded;
    List<BloodworkTest> bloodWorkTests = new();
    List<PatientMedicationViewModel> patientMedicationsView = new();

    private async Task<IEnumerable<string>> Search(string value)
    {
        if (string.IsNullOrEmpty(value))
            return bloodWorkTests.Select(x => x.TestName);
        return bloodWorkTests.Where(x => x.TestName.Contains(value, StringComparison.InvariantCultureIgnoreCase)).Select(x => x.TestName);
    }

    private async Task InputTestResults(PatientMedicationViewModel medicationViewModel)
    {
        if (!string.IsNullOrEmpty(medicationViewModel.BloodworkTest))
        {
            isLoaded = false;
            await BloodworkService.AddPatientBloodwork(medicationViewModel);
            await LoadPatientData();
            isLoaded = true;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var authStateUser = authState.User;

        if (authStateUser.IsInRole("GP") || authStateUser.IsInRole("Admin"))
        {
        }
        else
        {
            NavigationManager.NavigateTo("/", true);
        }
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            isLoaded = false;
            user = await Context.Users.Include(x => x.UserDetail).SingleOrDefaultAsync(x => x.Id == UserId);
            bloodWorkTests = await BloodworkService.GetAllBloodworkTests();
            await LoadPatientData();
            isLoaded = true;
        }
    }
    
    private async Task LoadPatientData()
    {
        isLoaded = false;
        patientMedicationsView = await Context.PatientMedications
            .Include(x => x.Medication)
            .Where(x => x.Patient.User.Id == UserId)
            .Select(x => new PatientMedicationViewModel
            {
                Id = x.Id,
                Medication = x.Medication,
                Pickup = x.Pickup,
                BloodworkRequired = x.BloodworkRequired,
                PatientBloodworks = x.PatientBloodworks.Select(y => new PatientBloodworkViewModel
                {
                    Id = x.Id,
                    BloodworkTest = y.BloodworkTest,
                    PatientMedication = y.PatientMedication,
                    PatientBloodworkTests = y.PatientBloodworkTests.Select(z => new PatientBloodworkTestViewModel
                    {
                        Result = z.Result,
                        PatientBloodwork = z.PatientBloodwork,
                        TestType = z.TestType,
                        DateOfUpload = z.DateOfUpload
                    }).ToList()
                }).ToList(),
                DateIntervalOfBloodworkRenewal = x.DayIntervalOfBloodworkRenewal,
                Patient = x.Patient
            })
            .ToListAsync();
        isLoaded = true;
        StateHasChanged();
    }
}